
/*HEADER*/
header { 
    margin: AUTO;
    background-image: url(images/formation.jpg);
    min-height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

html,body{
    height: 100%;
    margin: 0;
}

header h1 {
    color: rgba(255, 255, 255, 255);
    padding: 30px;
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgba(34, 39, 67);   
    animation: enter 4s ease-in-out;
}

header #menu {
    margin: AUTO;
    min-height:70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-attachment: fixed; 
}

header button{
    color: rgba(255, 255, 255, 255);
    padding: 30px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(34, 39, 67);
    cursor: pointer;
    transition: all 0,3s cubic-bezier(.98,.01,.95,.13);   
}

header button:hover {
    background-color: rgba(94, 93, 93, 40);
}

/*SECTION*/

section  {
    margin: AUTO;
    min-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

section h1 {
    margin-top:0px;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color:  rgba(34, 39, 67);

}
section h2 {
    margin-top:0px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color:  rgba(34, 39, 67);
}

section p {
    margin: 5% 5%;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color:  rgba(34, 39, 67);
    margin-bottom: 10px;
    margin-top: 10px;   
}

/*FOOTER*/

.bottom{
    min-height: 20vh;
    background-color: rgba(34, 39, 67);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}
.tile-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tile-bottom img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.tile-bottom h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}
.tile-bottom h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0px;
}

/*RESPONSIVE PHONE*/


@media only screen and (max-width: 600px) {
    header #menu  {
        flex-wrap:nowrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    section{
        flex-wrap:nowrap;
        flex-direction: column;
    }
    .bottom {
        flex-wrap:wrap;
    }
}

/*ANIMATION*/ 

@keyframes enter { 
    from {
        opacity: 0;
        transform: translateY(100);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




