
section { 
    margin: AUTO;
    min-height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

section h1{
    color: rgba(255, 255, 255, 255);
    padding: 30px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(85, 84, 84, 20);
   
}

section h2 {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
section h3 {
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;

}

div #bnp {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

