
/**Config bloc xp**/
.xp{
	min-height: 80vh;
	width: 100%;
	margin-bottom: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tile-xp{
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
}
.tile-xp img{
	
	height: 350px;
	max-width: 700px;
}
.tule{
	height: 100vh;
	width: 100%;
}
#bnp{
	background-color: #9fa8da;
}
#soge{
    background-color: #e8eaf6;
}
#sinergi{
	background-color:#9fa8da;
}
.text-article h2{
	font-size: 20px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
	color:  rgba(34, 39, 67);
}
.text-article h3{
	font-size: 13px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
	color:  rgba(34, 39, 67);
}
.text-article p{
	text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color:  rgba(34, 39, 67);
}


